src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2d49d2f-c227-4ab5-93ca-6bada4c11061" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6da44e97-0b8a-4856-9f20-7241c890caa0" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-apiFlow" doc:id="ae8cf774-cfed-4344-8b67-af068ec3326e" >
		<http:listener doc:name="Listener" doc:id="c19fe437-8acc-4130-981d-750f567bb565" config-ref="HTTP_Listener_config" path="/{area}/{location}"/>
		<http:request method="GET" doc:name="Request" doc:id="d2005df9-ca78-423b-b398-af6a6db79e6b" config-ref="HTTP_Request_configuration" path="/api/timezone/{area}/{location}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"area" : attributes.uriParams.area,
	"location" : attributes.uriParams.location
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
